@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* @import '~flag-icon-css/sass/flag-icon'; */

/* @import "/node_modules/flag-icons/css/flag-icons.min.css"; */

/* .background-image 
{
    background-image: url('https://wallpapers.com/images/hd/high-resolution-beach-background-1920-x-1200-4xuc870f2koryob0.jpg');
    background-image: url('https://images.pexels.com/photos/635279/pexels-photo-635279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}  */

.background-image {
    position: relative;
}

.carousel {
    position: relative;
    width: 100%;
    height: 600px; /* Adjust height as needed */
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#slide1 {
    background-image: url('https://cdn.pixabay.com/photo/2017/03/02/16/54/iceland-2111811_1280.jpg'); /* Replace with your image URL */
    animation: fade 32s infinite;
    animation-delay: 0s;
}

#slide2 {
    background-image: url('https://images.pexels.com/photos/635279/pexels-photo-635279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); /* Replace with your image URL */
    animation: fade 32s infinite;
    animation-delay: 8s; /* Delay for the second slide */
}

#slide3 {
    background-image: url('https://wallpapercave.com/wp/wp3272795.jpg'); /* Replace with your image URL */
    animation: fade 32s infinite;
    animation-delay: 16s; /* Delay for the third slide */
}

#slide4{
    background-image: url('https://vastphotos.com/files/uploads/photos/11326/florida-beach-photo-l.jpg?v=20220715163155'); /* Replace with your image URL */
    animation: fade 32s infinite;
    animation-delay: 20s; /* Delay for the third slide */
}



@keyframes fade {
    0%, 20% { opacity: 0; }
    25%, 70% { opacity: 1; }
    80%, 100% { opacity: 0; }
}

#slide5{
    background-image: url('https://i.pinimg.com/originals/b5/37/f4/b537f4574df0ff629cf67dda23d7f20c.jpg'); /* Replace with your image URL */
    animation: slide 24s infinite;
    animation-delay: 0s; /* Delay for the third slide */
}

#slide6{
    background-image: url('https://lyphe.com/app/uploads/2023/12/Image-1-London-skyline.jpeg'); /* Replace with your image URL */
    animation: slide 24s infinite;
    animation-delay: 8s; /* Delay for the third slide */
}

#slide7{
    background-image: url('https://images.unsplash.com/photo-1620563092215-0fbc6b55cfc5?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8enVyaWNofGVufDB8fDB8fHww'); /* Replace with your image URL */
    animation: slide 24s infinite;
    animation-delay: 16s; /* Delay for the third slide */
}

@keyframes slide {
    0%, 20% { opacity: 0; }
    25%, 75% { opacity: 1; }
    80%, 100% { opacity: 0; }
}

.py-6 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.font-extrabold {
    font-weight: 700;
}

img,video{
    width: 100%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: height 0.5s ease;
}

header.small {
    height: 60px; /* Adjust the smaller height as needed */
    transition: height 0.5s ease; /* Add a smooth transition effect */
    .text-lgInHeader{
        font-size: 1.125rem;
    }
}

@keyframes shrinkFont {
    from {
        font-size: 20px; /* Starting font size */
    }
    to {
        font-size: 16px; /* Ending font size */
    }
}

.text-lgInHeader{
    font-size: 2.125rem;
}

.text-6xl {
    position: relative;
    top: 50px;
}

.w-4\/5 {
    width: 85%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.search-dropdown:hover .dropdown-content {
    display: block;
}

.popularBlog{
    text-align: center;
    margin-top: 30px;
}

/* https://w0.peakpx.com/wallpaper/804/944/HD-wallpaper-shanghai-sunset-skyscrapers-modern-buildings-china-asia.jpg */